
/* ---------------------------------------------------
    common & bootstrap
----------------------------------------------------- */
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body { /*font-family: 'Poppins', sans-serif;*//*background: #fafafa;*/}

/*p {font-family: 'Poppins', sans-serif;font-size: 1.1em;font-weight: 300;line-height: 1.7em;color: #999;}*/

a, a:hover, a:focus { /*color: inherit;*/text-decoration: none;transition: all 0.3s;}


html, body, .container {height:100%;}
.container {min-height: 100%;}

#content {width: 100%;padding: 10px;min-height: 100vh;transition: all 0.3s;position: absolute;top: 54px;right: 0;}


.fill {width:100%;height:100%;min-height:100%; /*background-color:#990000;*//*padding:10px;*//*color:#efefef;*/}

.vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh; /* These two lines are counted as one :-)       */

    display: flex;
    align-items: center;
}

/* input */
input.form-control {height:3rem;}
/*.btn {line-height: 2.5;}*/
.form-check-label {margin-left: 1.25rem;}
/*.btn-primary {background-color: #008bcf;border-color: #008bcf;}*/


/* sidebar, navbar */
.btn-info {background-color: #0d4c99 !important;border-color: #0d4c99 !important;}


.navbar-collapse {position: relative; top:-40px;}
.navbar.bottom .nav {width:100%;}

.btn-primary-nofocus {color:#fff;background-color: #007bff;border-color: #007bff;}


/* ----------------------------------------------------- */

/*
    DEMO STYLE
*/

.row-no-padding > [class*="col-"] {padding-left: 0 !important;padding-right: 0 !important;}
.row-padding-5 > [class*="col-"] {padding-left: 5px !important;padding-right: 5px !important;}
.row-padding-2 > [class*="col-"] {padding-left: 2px !important;padding-right: 2px !important;}

.bottom-column {float: none;display: table-cell;vertical-align: bottom;}

.vcenter {display: inline-block;vertical-align: middle;float: none;}

.fixed-top {/*top:10px !important; */z-index: 1 !important;}
.fixed-bottom {bottom:-10px !important; z-index: 1 !important;}



.navbar {
    /*padding: 15px 10px;*/
    /*background: #fff;*/
    /*border: none;*/
    /*border-radius: 0;*/
    /*margin-bottom: 40px;*/
    /*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/

    /*padding: 0;*/
    margin-left: -10px;
    /*margin-top: -10px;*/
    margin-right: -10px;
    margin-bottom: 10px;
    background: #008bcf;
}
.navbar-center {position: absolute;left: 50%;transform: translatex(-50%);}
.navbar-btn {box-shadow: none;outline: none !important;border: none;}
.navbar-nav .nav-link {color: rgba(256,256,256,1.0);}
.navbar.bottom .nav > li {float: right;display: inline-block;width: auto;float: none;text-align: center;direction: rtl;width:20%;font-size:12px;}
.navbar.bottom .nav-link {padding-left:0;padding-right: 0;}

.line {width: 100%;height: 1px;border-bottom: 1px dashed #ddd;margin: 40px 0;}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar {width: 250px;position: fixed;top: 0;left: -250px;height: 100vh;z-index: 999;background: #7386D5;background: #07609a;color: #fff;transition: all 0.3s;overflow-y: scroll;box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);}
#sidebar.active {left: 0;}

#dismiss {width: 35px;height: 35px;line-height: 35px;text-align: center; /*background: #7386D5;*/background: #0072bc;position: absolute;top: 10px;right: 10px;cursor: pointer;-webkit-transition: all 0.3s;-o-transition: all 0.3s;transition: all 0.3s;}
#dismiss:hover {background: #fff;color: #7386D5;}

.overlay {display: none;position: fixed;width: 100vw;height: 100vh;background: rgba(0, 0, 0, 0.7);z-index: 998;opacity: 0;transition: all 0.5s ease-in-out;}
.overlay.active {display: block;opacity: 1;}

#sidebar .sidebar-header {padding: 20px;background: #6d7fcc;background: #0072bc;background: #0d4c99;}
#sidebar ul.components { /*padding: 20px 0;*//*border-bottom: 1px solid #47748b;*/}
#sidebar ul p {color: #fff;padding: 10px;}
#sidebar ul li a {padding: 10px;font-size: 1.1em;display: block;color: #fff;text-decoration: none;}
#sidebar ul li a:hover {color: #7386D5;background: #fff;}
#sidebar ul li.active>a, a[aria-expanded="true"] {color: #fff;background: #6d7fcc;color: #7386D5;background: #fff;}

a[data-toggle="collapse"] {position: relative;}

.dropdown-toggle::after {display: block;position: absolute;top: 50%;right: 20px;transform: translateY(-50%);}

ul ul a {font-size: 0.9em !important;padding-left: 30px !important;background: #6d7fcc;}
ul.CTAs {padding: 20px;}
ul.CTAs a {text-align: center;font-size: 0.9em !important;display: block;border-radius: 5px;margin-bottom: 5px;}

a.download {background: #fff;color: #7386D5;}
a.article, a.article:hover {background: #6d7fcc !important;color: #fff !important;}


/* ---------------------------------------------------
    bootbox style
----------------------------------------------------- */
.modal-title {padding: 0 2rem;}
.bootbox-close-button {position: absolute;right: 1.5rem;}
.modal-header {text-align: center;display: block;}
.bootbox-confirm .modal-footer .btn {width:50%;}
.modal-footer .btn {width:50%;}
.bootbox-alert .modal-footer {text-align: center;display: block;}


/* slider */
.slider-color {-webkit-appearance: none;width: 100%;height: 5px;border-radius: 5px;background: #d3d3d3;outline: none;opacity: 0.7;-webkit-transition: opacity .15s ease-in-out;transition: opacity .15s ease-in-out;}
.slider-color:hover {opacity:1;}
.slider-color::-webkit-slider-thumb {-webkit-appearance: none;appearance: none;width: 25px;height: 25px;border-radius: 50%;background: #4CAF50;cursor: pointer;transition: .3s ease-in-out;}
.slider-color::-moz-range-thumb {width: 25px;height: 25px;border: 0;border-radius: 50%;background: #4CAF50;cursor: pointer;}
.slider-color:hover::-webkit-slider-thumb { /*background: #1abc9c;*//*transform: scale(1.6);*/}
.slider-color:active::-webkit-slider-thumb { /*background: #1abc9c;*//*transform: scale(1.6);*/}
/*.slider-color:::-webkit-slider-thumb { background: #1abc9c; transform: scale(10); }*/
.slider-color::-moz-range-thumb {width: 20px;height: 20px;border: 0;border-radius: 50%;background: #2c3e50;cursor: pointer;transition: background .15s ease-in-out;}
.slider-color::-moz-range-thumb:hover {background: #1abc9c;}
.slider-color:active::-moz-range-thumb {background: #1abc9c; /*transform: scale(1.6);*/}
.slider-color:focus::-webkit-slider-thumb {box-shadow: 0 0 0 3px #fff, 0 0 0 6px #1abc9c;}
/**/


/* ---------------------------------------------------
    page style
----------------------------------------------------- */


.subNavbar {text-align: center;/*padding:0 5px;*/}
.subNavbar .btn {background: none;}
.subNavbar .left {float: left;}
.subNavbar .right {float: right;}
.subNavbar .date {font-weight: bold;position: relative;top: 6px;}

.nav-tabs {display: table;width: 100%;border-bottom: none;}
.nav-tabs .nav-item {display: table-cell;text-align: center;}
.nav-tabs .nav-link {color: #fff;border-color: #80848F;border-radius: 0.25rem;background: #80848F;}
.nav-tabs .nav-link.active {border-color: #80848F;}
.nav-tabs .nav-link.left {border-radius: 0.25rem 0 0 0.25rem;}
.nav-tabs .nav-link.right {border-radius: 0rem 0.25rem 0.25rem 0;}

.table thead th {border-bottom: none;}

.row {margin-right: 0;margin-left: 0;}
.col, .col-12 {padding-left:0; padding-right:0;}

.container.index {padding-left: 15px;padding-right: 15px;}
.container {padding-left: 0;padding-right: 0;}

.datepicker-dropdown {font-size: 0.9rem;}

.rangeSliderWrap {z-index: 10;}

.carousel-indicators li {background: #BABBBE;width: 10px;height: 10px;border-radius: 50%;margin-right: 5px;margin-left: 5px;}
.carousel-indicators .active {background: #383F45;}

/* 로그인 */
.login-form {width: 75%;}
.login-form .bottom-text {font-size:0.9rem;}

@media all and (min-width:767px) {
    .login-form {width: 50%;}
}

#content.currentDemand {padding-bottom: 60px;}
.currentDemand .row.summary .workplace {position: relative; top: 6px; font-weight: bold; font-size: 17px; line-height: 22px;padding-left: 5px !important;}
.currentDemand .row.summary .workplace .date {font-size: 12px;display: block;font-weight: normal;}
.currentDemand .row.summary .reduction {font-size: 10px;}
.currentDemand .row.summary .reduction .number {font-size: 23px;}
.currentDemand .row.summary .reduction .time {font-size: 12px;display: block;}
.currentDemand .row.summary .fulfillment .btn {font-size: 10px;background-color: #F2C94C; border-color: #F2C94C;}
.currentDemand .row.summary .fulfillment .number {display: block; font-size: 25px;}
.currentDemand .row.summary .fulfillment .number {display: block; font-size: 25px;}
.currentDemand .row.reduction-section .title {font-size: 13px; font-weight: bold;background: #f2c94c;}
.currentDemand .row.reduction-section .number {font-size: 30px; position: relative; top: 2px;}
.currentDemand .row.reduction-section .time {background: #f2f2f2;}
.currentDemand .row.reduction-section .time span {font-size: 30px; letter-spacing: -1px; position: relative; top: -5px;color: #333;}
.currentDemand .row.detail .card-header {background: #e0e0e0 !important; font-weight: bold;padding:0 !important;padding-top: 0.3rem !important;padding-bottom: 0.3rem !important;font-size: 0.9rem;}
.currentDemand .row.detail .card-body {background: #f3f3f3 !important;}
.currentDemand .row.detail .card-header.goal-power {background: #ffd5d5 !important;}
.currentDemand .row.detail .card-header.amount-15m {background: #c0f399 !important;}
.currentDemand .row.detail .card-header.amount-1m {background: #ffe8a0 !important;}
.currentDemand .row.detail .card-body {padding: 0.8rem 0; text-align: center !important;}
.currentDemand .row.detail .card-body span.value {position: relative;z-index:1;font-size: 1.5rem;letter-spacing: -1px;}
.currentDemand .row.detail .card-body span.unit {position: absolute;bottom: -10px;right: 5px;font-size: 2rem;z-index: 0;color: #e0e0e0;}

#content.demandReductHistory {padding: 10px 0;}
.demandReductHistory .container {padding:0;}
.demandReductHistory .accordion .header button {width:100%;text-align: left;font-size: 1rem; background: none; border: none; padding: 10px 20px;outline:none;position: relative;}
.demandReductHistory .accordion .header .datetime {float: right;padding-right: 5px;}
.demandReductHistory .accordion .header .datetime .time {margin-left: 10px;}
.demandReductHistory .accordion .header .marker {width: 15px; display: inline-block; position: absolute; right: 0; top: 0; bottom: 0;}
.demandReductHistory .accordion .header .marker.red {background: #EB5757;}
.demandReductHistory .accordion .header .marker.yellow {background: #F2C94C;}
.demandReductHistory .accordion .header .marker.green {background: #27AE60;}

.currentDemand .table {font-size: 0.5rem;text-align: center;}

.usageHistory .info {text-align: center;margin-bottom: 10px;}
.usageHistory .info .workplace {font-size: 1.5rem;}
.usageHistory .summary {text-align: center; font-size: 0.8rem;}
.usageHistory .summary .col {padding: 10px 5px;}
.usageHistory .summary .title {background: #7BDAD5;}
.usageHistory .summary .value {background: #F2F2F2;}
.usageHistory .table {font-size: 0.7rem;color: #565656;text-align: center;}
.usageHistory .table thead {background: #E0E0E0;}
.usageHistory .table tbody {background: #F6F6F6;}

.usageHistory .navbar .datepicker {position: absolute;right:17px;}
.usageHistory .navbar .datepicker i {padding:7px 9px;}

#content.demandForecast {padding: 0;top:0;}
.demandForecast .container {display: flex;position: absolute;}
.demandForecast .container .carousel .carousel-inner {height:100%;display: flex;}
.demandForecast .container .carousel .carousel-item {padding-left: 20px;padding-right: 20px;height:100%;}
.demandForecast .container .carousel .carousel-indicators {bottom:70px;}
.demandForecast .container .card {width: 100%;height:100%;padding: 80px 0 110px;border:none;}
.demandForecast .container .card-body {display: flex;align-items: center;background: #F7F7F7 !important;border-radius: 15px;}
.demandForecast .container .info {width: 100%;}
.demandForecast .container .gauge {padding: 2rem 0;}
.demandForecast .container .gauge img {width:75%;}
.demandForecast .container .detail {width: 80%;margin:0 auto;}
.demandForecast .container .detail dl {width: 100%;}
.demandForecast .container .detail dt {float: left;}
.demandForecast .container .detail dd {text-align: right;}
.demandForecast .container .page2 .card-body {background: none !important;}
.demandForecast .container .page2 .chart {margin-right: -15px;}
.demandForecast .container .page2 .chart img {width:100%;}

#content.account {}
.account .subNavbar {margin:0 -10px;}
.account .workplace {margin-left: -10px; margin-right: -10px; padding-left: 10px; padding-right: 10px;}
.account .workplace .row {width: 100%;line-height: 2.0rem;}
.account .row.detail {font-size: 0.9rem;position: relative;}
.account .row.detail .title {line-height: 1.7rem;}
.account .row.detail .amount {font-size: 1.1rem;padding-right: 20px !important;}
.account .row.detail .amount .etc{font-size: 0.5rem;}
.account .row.detail .unit_price {margin-left: 5px;}
.account .row.detail .right_arrow {position: absolute;right: 0;top: 50%;transform: translateY(-50%);color: #ccc;}

#content.account2 {}
.account2 .workplace {padding-left: 5px;margin:0;}
.account2 .workplace table {width:100%;font-size: 0.9rem;}
.account2 .workplace .unitInfo {font-size: 0.9rem;}
.account2 table {text-align: center;font-size: 0.8rem;}
.account2 .table tbody {font-size: 0.7rem;}
.account2 .row.sum {font-size: 0.9rem;}

#content.pushAlert {}
.pushAlert {background: #ddf5fc;}
.pushAlert .list-group.workplace {width: 100%;height:150px;overflow-y: auto;background: #fff;}
.pushAlert .workplace .list-group-item {padding: 0.5rem 0.8rem;}
.pushAlert .workplace .custom-checkbox {padding-left: 0;}
.pushAlert .workplace .custom-control-label {width:100%;}
.pushAlert .workplace .custom-control-label::before {left:initial;right:0;}
.pushAlert .workplace .custom-control-label::after {left:initial;right:0;}
.pushAlert .listNoti {font-size: 0.5rem; padding: 0.5rem;}
.pushAlert .alertSetting .card-header {border-radius: initial; padding: 0.5rem 0.7rem; font-size: 0.8rem;}
.pushAlert .alertSetting .card-header svg {float: right; font-size: 1rem;}
.pushAlert .alertSetting .card-body {padding:0.5rem 0.7rem;}
.pushAlert .alertSetting .card-text {font-size: 0.7rem;}
.pushAlert .demandReductAlert {font-size: 0.7rem;}
.pushAlert .demandReductAlert .card-header {border-radius: initial; background: #fff; font-size: 1rem; padding: 0.5rem 0.7rem;}
.pushAlert .demandReductAlert .card-header button {float: right;margin-right: 0;}

#content.help {}
.help .accordion {border: 1px solid rgba(0, 0, 0, 0.125);border-top: none;}
.help .accordion .card {border:none;}
.help .accordion .card-header {padding:0;border-bottom: none;}
.help .accordion .card-header {border-top: 1px solid rgba(0, 0, 0, 0.125);}
.help .accordion .card-header button {width: 100%;text-align: left;}
.help .accordion .card-header .btn-link:hover {text-decoration: none;}
.help .accordion .card-body {padding:1rem;border-top: 1px solid rgba(0, 0, 0, 0.125);}



/*input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: #bdc3c7;
    width: 300px;
    height: 5px;
    border-radius: 5px;
    margin: 0 auto;
    outline: 0;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #e74c3c;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: .3s ease-in-out;
}​
 input[type="range"]::-webkit-slider-thumb:hover {
     background-color: white;
     border: 2px solid #e74c3c;
 }
input[type="range"]::-webkit-slider-thumb:active {
    transform: scale(1.6);
}*/

/*

#008bcf
#0d4c99

style.css

align-bottom
d-block
bg-light

<nav class="navbar navbar-expand-lg navbar-light">

<img src="images/login_logo.png" class="rounded d-block mb-5 pb-3" alt="GEMS">

.mx-auto class for horizontally centering



https://bootstrapious.com/p/bootstrap-sidebar

*/


/* btn-toggle */
.example .btn-toggle {
  top: 50%;
  transform: translateY(-50%);
}
.btn-toggle {
  margin: 0 4rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle:focus,
.btn-toggle.focus,
.btn-toggle:focus.active,
.btn-toggle.focus.active {
  outline: none;
}
.btn-toggle:before,
.btn-toggle:after {
  line-height: 1.5rem;
  width: 4rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle:before {
  content: 'Off';
  left: -4rem;
}
.btn-toggle:after {
  content: 'On';
  right: -4rem;
  opacity: 0.5;
}
.btn-toggle > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.active {
  transition: background-color 0.25s;
}
.btn-toggle.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}
.btn-toggle.active:before {
  opacity: 0.5;
}
.btn-toggle.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  display: none;
}
.btn-toggle:before,
.btn-toggle:after {
  color: #6b7381;
}
.btn-toggle.active {
  background-color: #29b5a8;
}
.btn-toggle.btn-lg {
  margin: 0 5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 2.5rem;
  width: 5rem;
  border-radius: 2.5rem;
}
.btn-toggle.btn-lg:focus,
.btn-toggle.btn-lg.focus,
.btn-toggle.btn-lg:focus.active,
.btn-toggle.btn-lg.focus.active {
  outline: none;
}
.btn-toggle.btn-lg:before,
.btn-toggle.btn-lg:after {
  line-height: 2.5rem;
  width: 5rem;
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-lg:before {
  content: 'Off';
  left: -5rem;
}
.btn-toggle.btn-lg:after {
  content: 'On';
  right: -5rem;
  opacity: 0.5;
}
.btn-toggle.btn-lg > .handle {
  position: absolute;
  top: 0.3125rem;
  left: 0.3125rem;
  width: 1.875rem;
  height: 1.875rem;
  border-radius: 1.875rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-lg.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-lg.active > .handle {
  left: 2.8125rem;
  transition: left 0.25s;
}
.btn-toggle.btn-lg.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-lg.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg.btn-sm:before,
.btn-toggle.btn-lg.btn-sm:after {
  line-height: 0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.6875rem;
  width: 3.875rem;
}
.btn-toggle.btn-lg.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-lg.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-lg.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-lg.btn-xs:before,
.btn-toggle.btn-lg.btn-xs:after {
  display: none;
}
.btn-toggle.btn-sm {
  margin: 0 0.5rem;
  padding: 0;
  position: relative;
  border: none;
  height: 1.5rem;
  width: 3rem;
  border-radius: 1.5rem;
}
.btn-toggle.btn-sm:focus,
.btn-toggle.btn-sm.focus,
.btn-toggle.btn-sm:focus.active,
.btn-toggle.btn-sm.focus.active {
  outline: none;
}
.btn-toggle.btn-sm:before,
.btn-toggle.btn-sm:after {
  line-height: 1.5rem;
  width: 0.5rem;
  text-align: center;
  font-weight: 600;
  font-size: 0.55rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-sm:before {
  content: 'Off';
  left: -0.5rem;
}
.btn-toggle.btn-sm:after {
  content: 'On';
  right: -0.5rem;
  opacity: 0.5;
}
.btn-toggle.btn-sm > .handle {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 1.125rem;
  height: 1.125rem;
  border-radius: 1.125rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-sm.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-sm.active > .handle {
  left: 1.6875rem;
  transition: left 0.25s;
}
.btn-toggle.btn-sm.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-sm:before,
.btn-toggle.btn-sm.btn-sm:after {
  line-height: -0.5rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.4125rem;
  width: 2.325rem;
}
.btn-toggle.btn-sm.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-sm.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-sm.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-sm.btn-xs:before,
.btn-toggle.btn-sm.btn-xs:after {
  display: none;
}
.btn-toggle.btn-xs {
  margin: 0 0;
  padding: 0;
  position: relative;
  border: none;
  height: 1rem;
  width: 2rem;
  border-radius: 1rem;
}
.btn-toggle.btn-xs:focus,
.btn-toggle.btn-xs.focus,
.btn-toggle.btn-xs:focus.active,
.btn-toggle.btn-xs.focus.active {
  outline: none;
}
.btn-toggle.btn-xs:before,
.btn-toggle.btn-xs:after {
  line-height: 1rem;
  width: 0;
  text-align: center;
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: absolute;
  bottom: 0;
  transition: opacity 0.25s;
}
.btn-toggle.btn-xs:before {
  content: 'Off';
  left: 0;
}
.btn-toggle.btn-xs:after {
  content: 'On';
  right: 0;
  opacity: 0.5;
}
.btn-toggle.btn-xs > .handle {
  position: absolute;
  top: 0.125rem;
  left: 0.125rem;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 0.75rem;
  background: #fff;
  transition: left 0.25s;
}
.btn-toggle.btn-xs.active {
  transition: background-color 0.25s;
}
.btn-toggle.btn-xs.active > .handle {
  left: 1.125rem;
  transition: left 0.25s;
}
.btn-toggle.btn-xs.active:before {
  opacity: 0.5;
}
.btn-toggle.btn-xs.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs.btn-sm:before,
.btn-toggle.btn-xs.btn-sm:after {
  line-height: -1rem;
  color: #fff;
  letter-spacing: 0.75px;
  left: 0.275rem;
  width: 1.55rem;
}
.btn-toggle.btn-xs.btn-sm:before {
  text-align: right;
}
.btn-toggle.btn-xs.btn-sm:after {
  text-align: left;
  opacity: 0;
}
.btn-toggle.btn-xs.btn-sm.active:before {
  opacity: 0;
}
.btn-toggle.btn-xs.btn-sm.active:after {
  opacity: 1;
}
.btn-toggle.btn-xs.btn-xs:before,
.btn-toggle.btn-xs.btn-xs:after {
  display: none;
}
.btn-toggle.btn-secondary {
  color: #6b7381;
  background: #bdc1c8;
}
.btn-toggle.btn-secondary:before,
.btn-toggle.btn-secondary:after {
  color: #6b7381;
}
.btn-toggle.btn-secondary.active {
  background-color: #ff8300;
}
/* btn-toggle */